html {
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: 'Merriweather', serif !important;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

input {
  border: 2px black solid;
  padding: 4px;
}

input::placeholder {
  font-family: Merriweather, sans-serif;
}

button {
  padding: 12px;
  background-color: #f8baca;
  color: black;
  cursor: pointer;
  box-shadow: none;
  border: none;
  font-size: 1.5rem;
}

button:hover {
  background-color: black;
  color: white;
}

.App {
  height: 100vh;
}

@media (max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.titled {
  font-family: 'Merriweather', serif !important;
  font-size: 58px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.subtitled {
  font-family: 'Merriweather', serif !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}
